

.left-side {
  color: #000;
  background-color: #DEDEDE;
  border-right: slategray double;
  padding-left: 2em; 
    height:100%;
    
   
}
.message-con {
    width:100%;
    padding-left:0;
}
.message-side {
    padding:0px;
}
.navbar {
    
    background: #333;
    height: 100px;
    margin-bottom:0px;
    padding-left:2em;
    
}
h1 {
    color:black;
}
.title-header {
    font-weight: 800;
    font-size:1.5em;
    text-align: center;
    text-transform: capitalize;
}
.message-con {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
   
}
.username {
    font-weight:800;
    padding-left:1em;
}
.message {
    background-color:rgb(240,240,240);
    width:100%;
    list-style:none;
        padding:1em;
    
}
.message:nth-child(even){
    background-color: rgb(235,235,235);
   
}
.time-sent {
    float:right;
    display:inline-block;
    margin-right:1.5em;
    font-style:italic;
}
