<div class="row" ng-controller="RoomListCtrl as roomList">
    <div class=" col-md-3 sidebar">
        <div class="room-list">
             <div class="aside">
                 <h1>Bloc Chat</h1>
        <!--         Create new chat room button-->
                 <a href="#" ng-click="roomList.openModal()" class="btn btn-primary" >New Room</a>
                 <h3 class="rooms-title">Active Rooms</h3>

        <!--    This is where we list out the chat rooms-->

                 <div ng-repeat="room in roomList.rooms">
                  <a ng-click="roomList.activeRoom(room)"><span>{{ room.name }}</span></a> 
                 </div>  
            </div>
        </div>
    </div>
    <!-- show messages    -->
   
    <div class="col-md-9  message-side">
        <div class="message-con">
            <div class="messages-right">
                <div class="title-header">{{ room.name }}</div>
                <ul class="message-container">
            
                    <li class="message" ng-repeat="message in roomList.messages">
                        <div class="username"> {{message.username}}</div>
                        <div class="time-sent"> {{message.sentAt}}</div>
                        <div class="content"> {{message.content}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <div class="user-input">
		<textarea class="send" ng-model="roomList.textinput" ng-keyup="$event.keyCode == 13 && rooms.send(textinput)"></textarea>
		<button class="send" ng-click="roomList.send(textinput)">Submit</button>
	</div>
</div>
